.header {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1rem 2rem 0;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header .chain-name {
  background-color: var(--main-background-color);
  color: #dadada;
  border: var(--standard-border);
  border-width: .1rem;
  font-family: Georgia, serif;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: left;
  margin: 0;
  padding: .25em;
  min-width: 12em;
}

.header .actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}