/* Modal styles */
.chain-import-modal {
  display: none; /* Initially hide the modal */
  position: fixed;
  top: 40vh;
  left: 36vw;
  width: 28vw;
  height: 20vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 1000;
}
  
.chain-import-modal.open {
  display: flex; /* Display the modal when the "open" class is present */
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #444;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
}

  .input-group {
    margin-bottom: 10px;
  }

  input[type="text"]{
    border-radius: 4px;
  }

  input[type="file"] {
    columns: white;
    background-color: black;
  }
  label {
    margin-right: 5px;
  }
  

  button {
    margin-top: 10px;
    margin-right: 10px;   
  }
  

  .drop-area-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(32, 32, 32, 1);
    border-radius: 4px;
  }

  .drop-area-outer .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  /* Add more styles as needed */
  