
.quick-menu {
  position: relative;
}

.open-quick-menu {
  width: 1rem;
  height: 1rem;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  box-sizing: border-box;
  padding-top: 1rem;
}

.quick-menu-selector {
  display: none;
  position: absolute;
  top: 1.5rem;
  left: 0;
  height: 3rem;
  justify-content: space-around;
  background-color: var(--button-background-color);
  border: var(--standard-border);
  border-width: .1rem;
  border-radius: var(--standard-border-radius);
  z-index: 1;
}
.quick-menu-selector button {
  white-space: nowrap;
}

.quick-menu.open .quick-menu-selector {
  display: flex;
}