
.text-modal {
  position: relative;
}

.text-modal input[type="text"] {
  background-color: var(--main-background-color);
  color: #dadada;
  border: var(--standard-border);
  border-width: .1rem;
  font-family: Georgia, serif;
  font-weight: 700;
  font-size: 1rem;
  text-align: left;
  margin: 0;
  padding: .5em;
}

.text-modal .close-text-modal {
  position: absolute;
  top: .25rem;
  right: 0;
  padding: .25rem;
  width: 2rem;
}

.text-modal-selector {
  display: none;
  position: absolute;
  top: 0rem;
  left: 0;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--button-background-color);
  border: var(--standard-border);
  border-width: .1rem;
  border-radius: var(--standard-border-radius);
  z-index: 1;
  width: 15rem;
}

.text-modal-selector button {
  white-space: nowrap;
}

.text-modal .text-modal-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text-modal.open .text-modal-selector {
  display: flex;
}